<%- include ('partials/header.ejs') %>
  <%- include ('partials/main_nav.ejs') %>

  <!-- The about me page -->
    <main style="background-color:#212529; color:#FFFFFF; padding-left: 50px">
      <div class="jumbotron">
        <table>
          <tr>
            <td>
              <img src="/img/profile_pic.jpeg" alt="profile_pic" style: width="300px"; height="520px"/>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
              <h1 class="display-4">The software engineer and web applications developer</h1>
              &nbsp;
              <h3>Hello, my name is Yip Fu Kong. You may call me Antony.</h3>
              &nbsp;
              <h3>I am a software developer based in Toronto, Canada.</h3>
              &nbsp;
              <h3>I started my career over 10 years ago as a software developer in Hong Kong, trained in developing
                web-based applications and system testing.</h3>
              &nbsp;
              <h3>I have since honed my skills through different industries like banking, IT infrastructure and public
                transportation.</h3>
              &nbsp;
              <h3>When I was a teenager, I realized that I value logic and practicality.</h3>
              &nbsp;
              <h3>This shapes me into a software developer with a passion to help my clients manage their business
                requirements by creating systems that is easy to use and able to adapt to different scenarios.</h3>
              &nbsp;
              <h3>For more information of my background, you are welcomed to view my <a
                  href="Assets/Resume(Antony_Yip).pdf" target="_blank">resume</a>.</h3>
            </td>
          </tr>
        </table>

      </div>
    </main>

    <!--bottom nav-->
    <!--script section-->
    <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>