<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <!-- The index page -->
<main style="background-color:#212529; color:#FFFFFF; padding-left: 50px;">
  <div class="jumbotron">
    <h1 class="display-4">Hello, I'm Antony</h1>
    &nbsp;
    <h3>Software engineer, web applications developer</h3>
    &nbsp;
    <h3>Do you need a system or an application to help you in your business processes?</h3>
    &nbsp;
    <h3>Look no further. I specialize in transforming your business requirements into easy-to-use applications.</h3>
  </div>
</main>

<!--bottom nav-->
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>