<%- include ('partials/header.ejs') %>
  <%- include ('partials/main_nav.ejs') %>

    <!-- The product page -->
    <main style="background-color:#212529; color:#FFFFFF; padding-left: 50px;">
      <div class="jumbotron">
        <h1 class="display-4">My Project Portfolio</h1>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="600px">
                <h3>Oracle Siebel CRM</h3>
                <p>Our team developed new functions within the system to support customer representatives of a bank to
                  promote banking products to customers and enhanced the existing functions for the call center to
                  fulfil
                  a new bank account transaction process. We have also updated the platform incorporating new features
                  like adding new instructions for mature fixed deposit.</p>
              </td>
              <td width="400px" align="center"><img src="/img/java.png" alt="java" style: width="100px" ; height="200px"
                  ; padding-left="50px" /></td>
            </tr>
          </table>
        </div>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="400px" align="center"><img src="/img/css.png" alt="css" style: width="120px" ; height="200px"
                ; padding-left="50px" /></td>
              <td width="600px">
                <h3>Front Office Trading System (FOTS)</h3>
                <p>In this project, our team was tasked to conduct multiple tests to the system. For example,
                  creating multiple FIX protocol messages based on different business scenarios and preparing different
                  stock trading scenarios messages. We also enhanced user interface with Java to comply to new policy
                  and regulation changes by the local government authority.</p>
              </td>
            </tr>
          </table>
        </div>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="600px">
                <h3>Performance Assessment Scoring System (PASS)</h3>
                <p>We developed an application to digitalize the manual contractor assessment procedure to minimize
                  corruption by studying the existing system by obtaining information to design and prepare the
                  functional description and requirement specification documents. As a part of the data conversion
                  process design effort, we also prepared database design using Erwin with ER diagram and organized the
                  diagram based on the operation flow.</p>
              </td>
              <td width="400px" align="center"><img src="/img/html.png" alt="html" style: width="170px" ; height="200px"
                ; padding-left="50px" /></td>
            </tr>
          </table>
        </div>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="400px" align="center"><img src="/img/Csharp.png" alt="Csharp" style: width="180px" ; height="200px"
                ; padding-left="50px" /></td>
              <td width="600px">
                <h3>Universal Station Computer (USC)</h3>
                <p>We developed an application to control various equipment in the station to manage different
                  operation needs. We also reduced the complexity stemmed from managing equipment of differing
                  manufacturers and provided the statistical data of foot traffic and customer transactions to assist
                  optimization of station efficiency.</p>
              </td>
            </tr>
          </table>
        </div>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="600px">
                <h3>HSBC ClientSphere</h3>
                <p>We supported the production launch with HSBC team and launched the application on the overseas
                  server. We also developed a web-based deal control system and performed system tests.</p>
              </td>
              <td width="400px" align="center"><img src="/img/js.png" alt="js" style: width="270px" ; height="200px"
                  ; padding-left="50px" /></td>
            </tr>
          </table>
        </div>
        <div style="padding-top: 50px;">
          <table width="1000px">
            <tr>
              <td width="400px" align="center"><img src="/img/sql.png" alt="sql" style: width="120px" ; height="50px"
                ; padding-left="50px" /></td>
              <td width="600px">
                <h3>RFID Library System</h3>
                <p>We developed and maintained the user interface with Icefaces, JavaScript, CSS and JSF in the RFID
                  Library. We have also developed the Java updater and the UI with GIG and Spring to display the status
                  of Baggage Handling Equipment and performed Dry Run Test and Read Rate Test for the system. In
                  addition, we developed a virtual keyboard for the library self-check kiosk with Javascript.</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </main>
    <!--bottom nav-->
    <!--script section-->
    <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>