<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <!-- The services page -->
<main style="background-color:#212529; color:#FFFFFF; padding-left: 50px;">
  <div class="jumbotron">
    <h1 class="display-4">What I do</h1>
    <h3><ul>
      <li>developing business systems according to business requirements</li>
      <li>software development consultation</li>
      <li>existing system testing and update</li>
      <li>website development</li>
      <li>mobile app development</li>
    </ul></h3>
  </div>
</main>
<!--bottom nav-->
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   